<div class="container">
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>Uutiset</h2>
      <div class="filter-menu">
        <button (click)="fetchNews()">
          <span>Hae uutiset</span>
        </button>
      </div>
    </div>

    <div class="table-responsive">
      <table class="table table-striped table-hover">
        <tr *ngFor="let n of news" class="clickable-row">
          <td>{{n.id}}</td>
          <td>{{n.subject}}</td>
          <td>{{n.content}}</td>
          <td>{{n.created | date: 'dd.MM.yyyy'}}</td>
        </tr>
      </table>
    </div>
  </div>
</div>
